@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Onest&family=Yatra+One&display=swap");

html,
body {
  font-family: "Onest", sans-serif;
}

.specialFont {
  font-family: "Yatra One", cursive;
}

.active {
  padding: 2px 10px;
  /* font-size: 20px; */
  text-decoration: none;
  color: white !important;
  background-color: #f4e0b9;
}
.logo {
  color: white !important;
  background-color: #ffffff;
}

.nav-bar-in-header {
  margin-right: 25px;
}
.nav-bar > * {
  padding: 2px;
  text-decoration: none;
}
.nav-link {
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
}
.nav-link:visited {
  color: inherit;
}
.nav-link:link {
  color: inherit;
}
.nav-bar {
  display: none;
}

iframe {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 520px) {
  iframe {
    max-width: 90vw;
  }
}

.oldBlog img {
  margin: 10px auto;
}
.oldBlog * {
  margin-bottom: 10px;
}

.link-styled {
  font-weight: bold;
  color: red;
  cursor: pointer; /* Optional: Show a pointer cursor on hover */
  text-decoration: none; /* Optional: Remove underline */
}
