@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Onest&family=Yatra+One&display=swap");

html,
body {
  font-family: "Onest", sans-serif;
}

.specialFont {
  font-family: "Yatra One", cursive;
}

.active {
  padding: 2px 10px;
  /* font-size: 20px; */
  text-decoration: none;
  color: white !important;
  background-color: #f4e0b9;
}
.logo {
  color: white !important;
  background-color: #ffffff;
}

.nav-bar-in-header {
  margin-right: 25px;
}
.nav-bar > * {
  padding: 2px;
  text-decoration: none;
}
.nav-link {
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
}
.nav-link:visited {
  color: inherit;
}
.nav-link:link {
  color: inherit;
}
.nav-bar {
  display: none;
}

iframe {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 520px) {
  iframe {
    max-width: 90vw;
  }
}

.oldBlog img {
  margin: 10px auto;
}
.oldBlog * {
  margin-bottom: 10px;
}

.link-styled {
  font-weight: bold;
  color: red;
  cursor: pointer; /* Optional: Show a pointer cursor on hover */
  text-decoration: none; /* Optional: Remove underline */
}

.comment {
  box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

h1 {
  font-size: 24px;
  color: #333;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}
.text-editor {
  width: 1086px;
  margin: 0 auto;
}
.ql-editor {
  min-height: 100px;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
h1 {
  font-size: 32px !important;
}
h2 {
  font-size: 20px !important;
}

ol {
  list-style-type: decimal !important;
  font-weight: bold !important;
}
/* Custom styles for unordered lists */
ul {
  list-style-type: disc !important; /* Use disc bullets */
  font-weight: bold !important; /* Make the list items bold */
}

/* Custom styles for list items */
li {
  font-weight: bold !important;
}

/* Custom styles for blockquote */
blockquote {
  border-left: 2px solid #333; /* Add a left border */
  padding: 10px; /* Add padding to the blockquote */
  font-weight: bold !important; /* Make the blockquote text bold */
}

/* Custom styles for <pre> elements with class "ql-syntax" (important) */
.pre {
  background-color: #f0f0f0 !important; /* Set a background color */
  padding: 10px !important; /* Add padding for spacing */
  font-family: monospace !important; /* Set a monospace font */
  font-size: 14px !important; /* Adjust font size as needed */
  white-space: pre-wrap !important; /* Preserve line breaks */
  border: 1px solid #ccc !important; /* Add a border for clarity */
  spell-check: false !important; /* Disable spellchecking */
}

.box-design {
  box-shadow: 0px 0px 8px hsl(0deg 0% 0% / 0.38);
}

/* CSS stylesheet */
.horizontal-line {
  width: 70%;
  height: 1px; /* Adjust the height as needed */
  background-color: #000; /* Line color */
}
